# UFO Question 

Our data science team has predicted that the Earth is going to be invaded by an alien force in the
next years. Our only hope is to replicate a device that can block all alien technology in a radius of
~300km. Sadly, the device was sold in 2004 to an anonymous buyer to protect her hometown and
we don't know how contact her again. We know that the device has been active since 2004 in one
city in the USA, and we want to know where to start our search.
We've included a dataset called ​ufo.csv​. This dataset contains over 80,000 reports of UFO sightings
over the last century (all of them verified by the ESA). Using this dataset, try to guess the city in
which the device has been hidden.

In [1]:
from pymongo import MongoClient

import pandas as pd

import re

%pip install folium
import folium

Requirement already satisfied: folium in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (0.12.1.post1)
Requirement already satisfied: branca>=0.3.0 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from folium) (0.4.2)
Requirement already satisfied: numpy in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from folium) (1.20.3)
Requirement already satisfied: jinja2>=2.9 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from folium) (2.11.3)
Requirement already satisfied: requests in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from folium) (2.26.0)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from jinja2>=2.9->folium) (1.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from requests->folium) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from requests->folium) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/lucasmigliano/opt/anaconda3/lib/python3.9/site-packages (from requests->folium) (1.26.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
client=MongoClient("mongodb://localhost:27017")

db=client.ufo

client.list_database_names()

db=client.nueva_db

colec=db.n_coleccion

db.list_collection_names()

db=client.ufo

colec=db.ufo

In [3]:
df=pd.DataFrame(list(colec.find({}
                
               )))


df.head(2)

,_id,,datetime,city,state,country,shape,duration,total_time,comments,date_posted,latitude,longitude,year,distance
0,624f109eef3c3090c22653c8,0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.9411111,2004,1242.66777234
1,624f109eef3c3090c22653c9,1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082,2005,1325.48631876

In [4]:
df["datetime"] = df["datetime"].str.extract(r'(\d{4})')
df

,_id,,datetime,city,state,country,shape,duration,total_time,comments,date_posted,latitude,longitude,year,distance
0,624f109eef3c3090c22653c8,0,1949,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.9411111,2004,1242.66777234
1,624f109eef3c3090c22653c9,1,1949,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082,2005,1325.48631876
2,624f109eef3c3090c22653ca,2,1955,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667,2008,6515.41657656
3,624f109eef3c3090c22653cb,3,1956,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.6458333,2004,1211.9713516
4,624f109eef3c3090c22653cc,4,1960,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.8036111,2004,6960.92339627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78504,624f10a3ef3c3090c2278670,80326,2013,woodstock,ga,us,sphere,20.0,20 seconds,Driving 575 at 21:00 hrs saw a white and green...,9/30/2013,34.1013889,-84.5194444,2013,318.719194807
78505,624f10a3ef3c3090c2278671,80328,2013,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.6136111,-116.2025,2013,2620.02153892
78506,624f10a3ef3c3090c2278672,80329,2013,napa,ca,us,other,1200.0,hour,Napa UFO&#44,9/30/2013,38.2972222,-122.2844444,2013,3126.99141729
78507,624f10a3ef3c3090c2278673,80330,2013,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.9011111,-77.2655556,2013,904.740389278
78508,624f10a3ef3c3090c2278674,80331,2013,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.6527778,-97.4777778,2013,953.748461981

In [5]:
df['count']=1
df.head()

,_id,,datetime,city,state,country,shape,duration,total_time,comments,date_posted,latitude,longitude,year,distance,count
0,624f109eef3c3090c22653c8,0,1949,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.9411111,2004,1242.66777234,1
1,624f109eef3c3090c22653c9,1,1949,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082,2005,1325.48631876,1
2,624f109eef3c3090c22653ca,2,1955,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667,2008,6515.41657656,1
3,624f109eef3c3090c22653cb,3,1956,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.6458333,2004,1211.9713516,1
4,624f109eef3c3090c22653cc,4,1960,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.8036111,2004,6960.92339627,1

In [12]:
df["before"] = df.apply(lambda x: "OK" if int(x["datetime"]) < 2004 else "after", axis=1)
df.head(5)

/var/folders/y9/1ck368zx5tq778d5611f3syw0000gn/T/ipykernel_31808/2314048601.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["before"] = df.apply(lambda x: "OK" if int(x["datetime"]) < 2004 else "after", axis=1)

,_id,,datetime,city,state,country,shape,duration,total_time,comments,date_posted,latitude,longitude,year,distance,count,before
0,624f109eef3c3090c22653c8,0,1949,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.9411111,2004,1242.66777234,1,OK
3,624f109eef3c3090c22653cb,3,1956,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.6458333,2004,1211.9713516,1,OK
4,624f109eef3c3090c22653cc,4,1960,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.8036111,2004,6960.92339627,1,OK
5,624f109eef3c3090c22653cd,5,1961,bristol,tn,us,sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595,-82.1888889,2007,427.334112543,1,OK
7,624f109eef3c3090c22653cf,7,1965,norwalk,ct,us,disk,1200.0,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175,-73.4083333,1999,1295.8277925,1,OK

In [13]:
df = df[(df.country == "us")]
df.head()

,_id,,datetime,city,state,country,shape,duration,total_time,comments,date_posted,latitude,longitude,year,distance,count,before
0,624f109eef3c3090c22653c8,0,1949,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.9411111,2004,1242.66777234,1,OK
3,624f109eef3c3090c22653cb,3,1956,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.6458333,2004,1211.9713516,1,OK
4,624f109eef3c3090c22653cc,4,1960,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.8036111,2004,6960.92339627,1,OK
5,624f109eef3c3090c22653cd,5,1961,bristol,tn,us,sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595,-82.1888889,2007,427.334112543,1,OK
7,624f109eef3c3090c22653cf,7,1965,norwalk,ct,us,disk,1200.0,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175,-73.4083333,1999,1295.8277925,1,OK