# UFO Question 

Our data science team has predicted that the Earth is going to be invaded by an alien force in the
next years. Our only hope is to replicate a device that can block all alien technology in a radius of
~300km. Sadly, the device was sold in 2004 to an anonymous buyer to protect her hometown and
we don't know how contact her again. We know that the device has been active since 2004 in one
city in the USA, and we want to know where to start our search.
We've included a dataset called ​ufo.csv​. This dataset contains over 80,000 reports of UFO sightings
over the last century (all of them verified by the ESA). Using this dataset, try to guess the city in
which the device has been hidden.

In [1]:
%pip install pymongo

from pymongo import MongoClient
import pandas as pd
import re

Requirement already satisfied: pymongo in c:\users\alima\anaconda3\lib\site-packages (4.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
df = pd.read_csv (r'ufo.csv')
df.shape

(78509, 14)

In [3]:
ufo=df.copy()

ufo=ufo[(ufo.country=="us")]


ufo

,Unnamed: 0,datetime,city,state,country,shape,duration,total_time,comments,date_posted,latitude,longitude,year,distance
0,0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,2004,1242.667772
3,3,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,2004,1211.971352
4,4,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,2004,6960.923396
5,5,10/10/1961 19:00,bristol,tn,us,sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595000,-82.188889,2007,427.334113
7,7,10/10/1965 23:45,norwalk,ct,us,disk,1200.0,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.117500,-73.408333,1999,1295.827792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78504,80326,9/9/2013 21:00,woodstock,ga,us,sphere,20.0,20 seconds,Driving 575 at 21:00 hrs saw a white and green...,9/30/2013,34.101389,-84.519444,2013,318.719195
78505,80328,9/9/2013 22:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.613611,-116.202500,2013,2620.021539
78506,80329,9/9/2013 22:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,9/30/2013,38.297222,-122.284444,2013,3126.991417
78507,80330,9/9/2013 22:20,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.901111,-77.265556,2013,904.740389
78508,80331,9/9/2013 23:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.652778,-97.477778,2013,953.748462

In [23]:
ufo1=ufo[(ufo.distance<=305.0)]
ufo1

,Unnamed: 0,datetime,city,state,country,shape,duration,total_time,comments,date_posted,latitude,longitude,year,distance
12,13,10/10/1970 19:00,manchester,ky,us,unknown,180.0,3 minutes,Slow moving&#44 silent craft accelerated at an...,2/14/2008,37.153611,-83.761944,2008,302.476051
53,57,10/10/1993 23:00,carthage,tn,us,other,60.0,less than 1 min,1 object with green and red lights,3/21/2003,36.252222,-85.951667,2003,87.878181
77,81,10/10/1998 23:50,delano,tn,us,fireball,15.0,15 seconds,I came home from work one night and I seen a b...,3/21/2003,35.265000,-84.553333,2003,237.737999
663,683,10/1/2000 22:00,jackson,tn,us,triangle,120.0,appox. 2 mins,Three glowing spheres under dark triangular sh...,11/20/2001,35.614444,-88.813889,2001,181.894424
964,989,10/12/1973 19:00,birmingham (just south of),al,us,disk,900.0,10-15 minutes,Glowing Green UFO seen by myself (mom) and my ...,4/2/1999,33.520556,-86.802500,1999,295.975266
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77893,79700,9/7/1999 12:15,gallatin,tn,us,cylinder,30.0,30 seconds,I was driving in a new subdivision when I saw ...,9/12/1999,36.388333,-86.446667,1999,48.507836
77906,79713,9/7/2000 21:20,benton,ky,us,light,1200.0,10 to 20 min,yellow lights&#44vary in #&#44hover than go ou...,9/17/2000,36.857222,-88.350278,2000,147.711591
77921,79728,9/7/2002 20:30,mt. juliet (near nashville),tn,us,light,5.0,5 seconds,large red lights hovered above dark field&#44 ...,9/13/2002,36.200000,-86.518611,2002,36.642641
77931,79738,9/7/2002 23:15,guntersville,al,us,other,300.0,less than 5 minutes,Two comet-like objects passed in front of us&#...,9/13/2002,34.358056,-86.294722,2002,210.828767
78112,79922,9/8/2002 19:10,germantown,tn,us,disk,4.0,4 seconds,OBSERVED UFO FALLING FROM CLOUD AND OBTAINED P...,9/13/2002,35.086667,-89.810000,2002,288.329254

In [24]:
ufoa2004=ufo1[(ufo1.year<2004)]

set1=set(ufoa2004.city.unique())

In [19]:
ufo_despues_2004=ufo[(ufo.year>2004)]
set2=set(ufo_despues_2004.city.unique())

In [25]:
set3=set1-set2

len(set3)

255

In [ ]:
set4=set3['city'][]

In [5]:
# Find the city