# UFO Question 

Our data science team has predicted that the Earth is going to be invaded by an alien force in the
next years. Our only hope is to replicate a device that can block all alien technology in a radius of
~300km. Sadly, the device was sold in 2004 to an anonymous buyer to protect her hometown and
we don't know how contact her again. We know that the device has been active since 2004 in one
city in the USA, and we want to know where to start our search.
We've included a dataset called ​ufo.csv​. This dataset contains over 80,000 reports of UFO sightings
over the last century (all of them verified by the ESA). Using this dataset, try to guess the city in
which the device has been hidden.

In [1]:
from pymongo import MongoClient

import pandas as pd

import re
import folium

from datetime import datetime

In [2]:
# Select data
data = pd.read_csv('ufo.csv')
data.head()

,Unnamed: 0,datetime,city,state,country,shape,duration,total_time,comments,date_posted,latitude,longitude,year,distance
0,0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,2004,1242.667772
1,1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082,2005,1325.486319
2,2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667,2008,6515.416577
3,3,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,2004,1211.971352
4,4,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,2004,6960.923396

In [3]:
# conexion con Mongo
cliente=MongoClient()

db=cliente.ufo

alien = db.alien

In [4]:
als = list(alien.find({'$and': [{'country': 'us'}]},
                     {'_id':0,
                     'datetime': 1,
                     'city': 1,
                     'latitude': 1,
                     'longitude': 1,
                     'distance': 1}
                     ))
len(als)

0

In [5]:
df = pd.DataFrame(als)
df.head()

Empty DataFrame
Columns: []
Index: []

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame

In [7]:
df.datetime=df..str.extract(r'(\d{4})')

AttributeError: 'DataFrame' object has no attribute 'datetime'

In [ ]:
df.datetime = df.datetime.astype(int)
df.head()

In [ ]:
df=df[df.datetime >= 2004]
df

In [ ]:
df['distance'] = df['distance'].astype(float)

In [ ]:
df = df[(df.distance > 300) & (df.distance < 305)]
df.reset_index(drop = True, inplace = True)
df

In [ ]:
alien.geoloc.insert_many(df.to_dict('records'))

In [ ]:
db.geoloc.create_index([('geo_loc', '2dsphere')])

In [ ]:
def geomap(df, zoom_start=1.5):

    df.index=range(len(df)) 

    mapa=folium.Map(location=[0, 0],
                tiles='openstreetmap', zoom_start=zoom_start)

    for i in range(1, len(df)):

        folium.CircleMarker([float(df.latitude[i]), float(df.longitude[i])], popup=str(df.city[i]), 
                             radius=1, icon=folium.Icon()).add_to(mapa)

    #mapa.save('images/geomap.html')
    
    
    return mapa

In [ ]:
mapa=geomap(df.loc[:1500])
mapa

Parece que la ciudad puede ser Nashville, pues es la ciudad más grande que se encuentra en el medio del círculo.